In [22]:
import pandas as pd
import numpy as np

In [36]:
df2 = pd.read_csv("/Users/raghav/Downloads/campaign_data.csv")

In [37]:
df2

,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,Customer_ID
0,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,71901
1,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,80322
2,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,84835
3,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,66468
4,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,26737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes,56280
41184,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no,43859
41185,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no,40117
41186,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes,38246
41187,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no,64501

In [40]:
# Assuming df2 is already defined
df2['Savings_Account'] = np.random.randint(0, 2, size=len(df2))
df2['Credit_Card'] = np.random.randint(0, 2, size=len(df2))
df2['Debit_Card'] = np.random.randint(0, 2, size=len(df2))
df2['y'] = df2['y'].replace({'yes': 1, 'no': 0})
df2.rename(columns={'y': 'Term_Deposit'}, inplace=True)

In [41]:
df2

,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,Term_Deposit,Customer_ID,Savings_Account,Credit_Card,Debit_Card
0,no,no,no,telephone,may,mon,261,1,999,0,...,1.1,93.994,-36.4,4.857,5191.0,0,71901,0,0,1
1,unknown,no,no,telephone,may,mon,149,1,999,0,...,1.1,93.994,-36.4,4.857,5191.0,0,80322,1,0,1
2,no,yes,no,telephone,may,mon,226,1,999,0,...,1.1,93.994,-36.4,4.857,5191.0,0,84835,1,0,0
3,no,no,no,telephone,may,mon,151,1,999,0,...,1.1,93.994,-36.4,4.857,5191.0,0,66468,0,0,0
4,no,no,yes,telephone,may,mon,307,1,999,0,...,1.1,93.994,-36.4,4.857,5191.0,0,26737,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,no,yes,no,cellular,nov,fri,334,1,999,0,...,-1.1,94.767,-50.8,1.028,4963.6,1,56280,1,1,1
41184,no,no,no,cellular,nov,fri,383,1,999,0,...,-1.1,94.767,-50.8,1.028,4963.6,0,43859,0,0,0
41185,no,yes,no,cellular,nov,fri,189,2,999,0,...,-1.1,94.767,-50.8,1.028,4963.6,0,40117,1,1,1
41186,no,no,no,cellular,nov,fri,442,1,999,0,...,-1.1,94.767,-50.8,1.028,4963.6,1,38246,1,0,1
41187,no,yes,no,cellular,nov,fri,239,3,999,1,...,-1.1,94.767,-50.8,1.028,4963.6,0,64501,1,0,0

In [45]:
df2.to_csv("/Users/raghav/Desktop/Apexon/Product_Marketing_Campaign/Updated_Product_Targeting_Data.csv")